
    <!--<div class="text-center">
        <h3>Description parc</h3>
    </div>-->

    <div id="photoAccueil" class="text-center">
        <!--<i><h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs">Bienvenue au DuckBeat parc</h1></i>-->
        <div class="photoCanard">
            <img id="duck" src="../../assets/DuckBeat.jpg" alt="logo du DuckBeat parc - canard musical">
        </div>
    </div>
    <br>

   <!-- <div id="photoAccueil2"></div>
    <br> -->
    <div><i><h1 class="text-center">Bienvenue au DuckBeat parc</h1></i>
    </div>
    <div id="description"><div><p>Le DuckBeat parc  est un parc d'attractions unique en son genre, entièrement dédié à l'univers magique de la musique.
         Dès que vous franchissez les portes de ce parc, vous êtes transporté dans un monde où chaque note résonne avec une énergie particulière.
         DuckBeat parc offre une expérience inoubliable où la musique devient une partie intégrante de chaque attraction, restaurant et coin du parc.
         Que vous soyez un passionné de rock, un amateur de musique classique ou un fan de bandes sonores de films,
         ce parc d'attractions musical vous promet une journée pleine de découvertes sensorielles et d'émotions musicales !!</p>
        </div>
    </div>
    <br>
    <div class="arrow-container" (click)="scrollToTop()">
        <i class="bi bi-arrow-up-circle arrow"></i>
    </div>

<br>
    
<app-plan-du-parc></app-plan-du-parc>

<br>
<br>

<app-billetterie></app-billetterie>

<br>
<br>

<app-hotel></app-hotel>

<br>
<br>

<app-restaurants></app-restaurants>

<br>
<br>

<app-actualites></app-actualites>

<br>
<br>

<!--
<div class="card mt-3 section-2">
    <div class="card-header text-white bg-primary">
        Plan du parc et informations en temps réel
    </div>
    <div class="card-body"> 
        <tbody>
            <tr>
                <td>img</td>
                <td>
                    Découvrez la liste de nos attractions ainsi que toutes les informations dont vous avez besoin !
                     Vous avez également accès à un plan mis à jour en temps réel sur le temps d’attente de vos attractions préférées pour améliorer votre séjour au sein du DuckBeat parc !
                </td>
            </tr>
        </tbody>
    </div>
</div>

<div class="card mt-3 section-3">
    <div class="card-header text-white bg-primary">
        Billetterie
    </div>
    <div class="card-body"> 
        <tbody>
            <tr>
                <td>img</td>
                <td>img</td>
                <td>img</td>
                <td>img</td>
            </tr>
        </tbody>
    </div>
</div>

<div class="card mt-3 section-2">
    <div class="card-header text-white bg-primary">
        Hôtels
    </div>
    <div class="card-body"> 
        <tbody>
            <tr>
                <td>img</td>
                <td>img</td>
            </tr>
        </tbody>
    </div>
</div>

<div class="card mt-3 section-3">
    <div class="card-header text-white bg-primary">
        Restaurants
    </div>
    <div class="card-body"> 
        <tbody>
            <tr>
                <td>img</td>
                <td>img</td>
                <td>img</td>
            </tr>
        </tbody>
    </div>
</div>

<div class="card mt-3 section-2">
    <div class="card-header text-white bg-primary">
        Actualités
    </div>
    <div class="card-body"> 
        <tbody>
            <tr>
                <td>img</td>
                <td>img</td>
                <td>img</td>
            </tr>
            <tr>
                <td>blablablablalbalbalblbaljchrigcuzecbqezj
                    chfhzriuhfsdncidsgfyzgfaifhaeiuhfizgfuiz
                    hcdhfuzeigfiuachzebfizgfycirgyrzzebcizeb
                    fezhibcezibrzijhbvscihdcbzjeibghrzbvhcht</td>
                <td>blablablablalbalbalblbaljchrigcuzecbqezj
                    chfhzriuhfsdncidsgfyzgfaifhaeiuhfizgfuiz
                    hcdhfuzeigfiuachzebfizgfycirgyrzzebcizeb
                    fezhibcezibrzijhbvscihdcbzjeibghrzbvhcht</td>
                <td>blablablablalbalbalblbaljchrigcuzecbqezj
                    chfhzriuhfsdncidsgfyzgfaifhaeiuhfizgfuiz
                    hcdhfuzeigfiuachzebfizgfycirgyrzzebcizeb
                    fezhibcezibrzijhbvscihdcbzjeibghrzbvhcht</td>
            </tr>
        </tbody>
    </div>
</div>

<div class="card mt-3 section-1">
    <div class="card-footer"> 
        <thead>
            <tr>
                <td>Aides et informations</td>
                <td>Recevez nos bons plans</td>
                <td>Réseaux sociaux</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>img</td>
                <td>img</td>
                <td>img</td>
            </tr>
        </tbody>
    </div>
</div>
-->