<a class="nav-link" (click)="redirect()">
<div class="text-center mb-4">
    <h3>Plan du parc et informations en temps réel</h3>
</div>
<div class="card">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="../../assets/Miniature Plan Parc.jpg" class="img-fluid rounded-start" alt="Miniature du Plan du Parc">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <p class="card-text">Découvrez la liste de nos attractions ainsi que toutes les informations dont vous avez besoin ! Vous avez également accès à un plan mis à jour en temps réel sur le temps d’attente de vos attractions préférées pour améliorer votre séjour au sein du DuckBeat parc!</p>
            </div>
        </div>
    </div>
</div>
</a>