<style>
#parc{
    background-color: #858585;
    position: relative;
display: flex;
flex-flow: row wrap;
}
#titre{
    flex:2;
    text-align: center;
}
#corps{
    display: flex;
    gap:10px
}
#description{
    width:50%;
    flex:1;
    word-break: normal;
    
}
#image{
    width:50%;
    flex:1;
    display: flex;
  justify-content: center;
  align-items: center;
}
img{
    max-width: 80%;
    max-height: 80%;
}
p{
    max-width: 80%;
    max-height: 80%;
    justify-content: center;

}
</style>
<div id="parc">
<div id="titre"><h3>Plan du parc et informations en temps réel</h3>
</div>
    <div id="corps">
<div id="image"><img src="../../assets/Miniature Plan Parc.jpg" alt="Miniature du Plan du Parc"><br></div>
<div id="description"><p>Découvrez la liste de nos attractions ainsi que toutes les informations dont vous avez besoin ! Vous avez également accès à un plan mis à jour en temps réel sur le temps d’attente de vos attractions préférées pour améliorer votre séjour au sein du DuckBeat parc! 
</p>
    </div>
</div>
