<a class="nav-link" (click)="redirect()">

  <div class="titre-avec-trait">
    <div class="trait"></div>
    <h3>Hôtel</h3>
    <div class="trait"></div>
  </div>
  <br>

  <div class="row row-cols-2">
    <div class="col">
        <div class="card h-100">
            <div class="row no-gutters">
                <div class="col-md-8 image-container">
                    <img class="card-img" src="/assets/HotelPiano.jpg" alt="Hotel 1">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title text-center">Harmonie Piano Suites</h5><br>
                        <p class="card-text"> Découvrez l'Harmonie Piano Suites hotel et sa vue imprenable sur le parc 
                          depuis notre terrasse 
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="row no-gutters">
                <div class="col-md-8 image-container">
                    <img class="card-img" src="/assets/HotelRock.jpg" alt="Hotel 2">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title text-center">Rock Haven Lodge</h5><br>
                        <p class="card-text">
                          Découvrez le Rock Haven Lodge Hotel, l'adresse incontournable pour les amateurs de rock. 
                        </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</a>

<!-- 

<a class="nav-link" (click)="redirect()">
<div class="text-center mb-4">
  <h3>Hôtels</h3>
</div>
<div class="row row-cols-2">
  <div class="col">
    <div class="card h-100">
      <div id="carouselHotel1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/Pianohotel2.png" class="card-img-top" alt="Image 1">
          </div>
          <div class="carousel-item">
            <img src="/assets/Pianohotel2.png" class="card-img-top" alt="Image 2">
          </div>
          <div class="carousel-item">
            <img src="/assets/Pianohotel2.png" class="card-img-top" alt="Image 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHotel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHotel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Rock Haven Lodge</h5>
        <p class="card-text">Bienvenue au Rock Haven Lodge Hotel, l'adresse incontournable pour les amateurs de rock. Cet hôtel vous plonge dans l'univers vibratoire du rock'n'roll, offrant une expérience séduisante et énergique. L'atmosphère de l'hôtel est électrique dès votre arrivée, avec des touches de décor rappelant les grandes époques du rock. Les chambres sont baignées d'une ambiance décontractée, avec des détails subtils qui évoquent la passion de la musique.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div id="carouselHotel2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/piano Hotel1.png" class="card-img-top" alt="Image 1">
          </div>
          <div class="carousel-item">
            <img src="/assets/piano Hotel1.png" class="card-img-top" alt="Image 2">
          </div>
          <div class="carousel-item">
            <img src="/assets/piano Hotel1.png" class="card-img-top" alt="Image 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHotel2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHotel2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Harmonie Piano Suites</h5>
        <p class="card-text">Bienvenue à l'Harmonie Piano Suites, un havre de tranquillité et d'élégance où chaque note compte. Dès que vous franchissez nos portes, vous êtes accueilli par une ambiance envoûtante, inspirée par le magnifique univers du piano. Profitez d'une vue imprenable sur le parc depuis notre terrasse tout en écoutant des notes de piano flotter dans l'air. C'est l'endroit idéal pour un cocktail après une journée riche en aventures.</p>
      </div>
    </div>
  </div>
</div>
</a>


-->