.titre-avec-trait {
    display: flex;
    align-items: center;
  }

.trait {
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 10px;
}

button {
  margin-left: 5px;
  background-color:rgb(93, 88, 88);
  color: white;
}