<br>
<div class="titre-avec-trait">
    <div class="trait"></div>
    <h3>Réservation</h3>
    <div class="trait"></div>
  </div>
<br>
<p style="text-align:center"> Le DuckBeat parc  est un parc d'attractions unique en son genre, entièrement dédié à l'univers magique de la musique.
    Dès que vous franchissez les portes de ce parc, vous êtes transporté dans un monde où chaque note résonne avec une énergie particulière.
    DuckBeat parc offre une expérience inoubliable où la musique devient une partie intégrante de chaque attraction, restaurant et coin du parc.
    Que vous soyez un passionné de rock, un amateur de musique classique ou un fan de bandes sonores de films,
    ce parc d'attractions musical vous promet une journée pleine de découvertes sensorielles et d'émotions musicales !!</p>
<div class="center-btn">
<button class="btn btn-secondary" (click)="goToConnection()">Pour réserver dès maintenant votre prochain séjour, veuillez vous connecter.</button>
</div>