
.jordan{
    height: 100vh;
    background-image: url('/assets/jordan.jpg');
    background-repeat: repeat;
    
    animation: scrollBackground 7s linear infinite, fadeInOut 5s ease-in-out infinite;
   
} 
@keyframes scrollBackground {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 100% 0;
        }
    }
    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0.5; 
        }
        50% {
            opacity: 1; 
        }
    }
    
    