
<div id="restaurants">
    <div><h2><br> Restaurants </h2></div><br>
    <div>
        <div id="restaurant">
            <!--<a [routerLink]="['hotel']">-->
                <img src="assets/restaurantCine.png" alt="restaurant Ciné-gastronomie ">
                <p>Ciné-gastronomie</p>
            <!--</a> -->
        </div>
        <div id="restaurant">
             <!--<a [routerLink]="['restaurantsPage']">-->
                <img src="assets/restaurantSymphonie.jpg" alt="restaurant Symphonie">
                <p style="text-align: center;">Symphonie gourmande</p>
             <!--</a>-->
        </div>
        <div id="restaurant">
             <!--<a [routerLink]="['restaurantsPage']">-->
                <img src="assets/restaurantRock.jpg" alt="restaurant Rock">
                <p style="text-align: center;">Hard rock hideaway</p>
            <!--</a>-->
        </div>
    </div>
</div>

<br><br>
<app-actualites></app-actualites>
