img{
    width: 100%;
}

/*a:hover{
    cursor: pointer;
}*/

.titre-avec-trait {
    display: flex;
    align-items: center;
  }

.trait {
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 10px;
}

.image-container {
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
  
.image-container:hover img {
    transform: scale(1.1); 
}

p, i {
    display: inline-block;
}

i{
    margin-left:20px;
    margin-right:10px;
    font-size: 1.3rem;
}

p,h5{
    cursor: default;
}
