<a class="nav-link" (click)="redirect()">

<div class="titre-avec-trait">
        <div class="trait"></div>
        <h3> Restaurants</h3>
        <div class="trait"></div>
</div>
<br>
<div class="row row-cols-3 justify-content-between">
        <div class="col">
            <div class="card h-100">
                <div class="image-container">
                     <img class="card-img-top" src="/assets/restaurantCine.png" alt="restaurant cine">
                </div>
                <div class="card-body">
                      <h5 class="card-title">Ciné-gastronomie</h5>
                      <i class="bi bi-arrow-right"></i>
                      <p>Le restaurant des gourmands!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="image-container">
                        <img class="card-img-top" src="/assets/restaurantRock2.jpg" alt="restaurant rock">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Hard rock hideaway</h5>
                    <i class="bi bi-arrow-right"></i>
                    <p>Le meilleur burger est ici!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="image-container">
                        <img class="card-img-top" src="/assets/restaurantSymphonie2.jpg" alt="Symphonie gourmande">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Symphonie gourmande</h5>
                    <i class="bi bi-arrow-right"></i>
                    <p>Moment de détente garantie</p>
                </div>
            </div>
        </div>
</div>



</a>

<!--<div class="text-center mb-4"> 
        <h3>Restaurants</h3>
</div> 

<div class="row row-cols-3">
        <div class="col">
                <div class="card h-100">
                        <img class="card-img-top" src="/assets/restaurantCine.png" alt="restaurant Ciné-gastronomie">
                        <div class="card-body">
                                <h5 class="card-title">Ciné-gastronomie</h5>
                        </div>
                </div>
        </div>
        <div class="col">
                <div class="card h-100">
                        <img class="card-img-top" src="/assets/restaurantSymphonie.jpg" alt="restaurant Symphonie">
                        <div class="card-body">
                                <h5 class="card-title">Symphonie gourmande</h5>
                        </div>
                </div>
        </div>
        <div class="col">
                <div class="card h-100">
                        <img class="card-img-top" src="/assets/restaurantRock.jpg" alt="restaurant Rock">
                        <div class="card-body">
                                <h5 class="card-title">Hard rock hideaway</h5>
                        </div>
                </div>
        </div>
</div>

-->