.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer le contenu horizontalement */
    align-items: center; /* Centrer le contenu verticalement */
}

.card {
    width: 19%; /* Ajustez la largeur de la carte en fonction de votre mise en page */
    margin: 3%;
}

#restaurants > div:first-child {
    display:flex;
    justify-content:center;
}

#restaurants > div:not(:first-child){
    display:flex;
    justify-content:center;
}

#restaurants img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

#restaurants p{
/*    background-color:rgb(222, 195, 155); */
    text-align: center; 
    margin-top: 5px;
}

#restaurant{
    width:30%; 
    margin-right:10px;
}
