<ul class="nav nav-pills mt-3">
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['accueil']" routerLinkActive="active">Accueil</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['plan-du-parc']" routerLinkActive="active">Plan-du-parc</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['hotel']" routerLinkActive="active">Hôtel</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['reservation']" routerLinkActive="active">Réservation</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" [routerLink]="['restaurant']" routerLinkActive="active">Restaurant</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged()">
        <a class="nav-link" [routerLink]="['connection']" routerLinkActive="active">Connexion</a>
    </li>
    <li class="nav-item" *ngIf="!isLogged()">
      <a class="nav-link" [routerLink]="['inscription']" routerLinkActive="active">Inscription</a>
    </li>
    <li class="nav-item" *ngIf="isLogged()">
        <a class="nav-link" (click)="logout()">Déconnexion</a>
    </li>
  </ul>