

<div class="container mt-4">
    
    <div class="row">
      <div class="col-md-6 mb-4">
        
        <img src="/assets/piano Hotel1.png" class="d-block w-100" alt="Image de l'hôtel">
      </div>
      <div class="col-md-6 mb-4">
       
        <div class="card">
          <div class="card-body">
            
            <h1 class="card-title">Harmonie Piano Suites
            </h1>
  
           
            <h5 class="card-subtitle mb-2 text-muted">Matériel disponible :</h5>
            <ul>
              <li>Wi-Fi gratuit</li>
              <li>TV à écran plat</li>
              <li>Climatisation</li>
             
            </ul>
  
       
            <h5 class="card-subtitle mb-2 text-muted">Options :</h5>
            <ul>
              <li>Service en chambre</li>
              <li>Piscine</li>
              
            </ul>
  
           
            <h5 class="card-subtitle mb-2 text-muted">Prix :</h5>
            <p>Chambre Solo : $100 par nuit</p>
            <p>Chambre Double : $150 par nuit</p>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-md-6 mb-4">
     
        <img src="/assets/piano Hotel1.png" class="d-block w-100" alt="Image de l'hôtel 2">
      </div>
      <div class="col-md-6 mb-4">
        
        <div class="card">
          <div class="card-body">
            
            <h1 class="card-title">Rock Haven Lodge</h1>
  
           
            <h5 class="card-subtitle mb-2 text-muted">Matériel disponible :</h5>
            <ul>
              <li>Wi-Fi gratuit</li>
              <li>TV à écran plat</li>
              <li>Climatisation</li>
             
            </ul>
  
            
            <h5 class="card-subtitle mb-2 text-muted">Options :</h5>
            <ul>
              <li>Service en chambre</li>
              <li>Piscine</li>
              
            </ul>
  
            
            <h5 class="card-subtitle mb-2 text-muted">Prix :</h5>
            <p>Chambre Solo : $120 par nuit</p>
            <p>Chambre Double : $180 par nuit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-4">
    
    <div>
      <label for="hotelChoice">Choisissez un hôtel :</label>
      <select id="hotelChoice" name="hotelChoice" class="form-select">
        <option value="hotel1">Hôtel 1</option>
        <option value="hotel2">Hôtel 2</option>
      </select>
    </div>
  
 
    <div>
      <label for="roomType">Choisissez le type de chambre :</label>
      <select id="roomType" name="roomType" class="form-select">
        <option value="single">Chambre Solo</option>
        <option value="double">Chambre Double</option>
      </select>
    </div>
  
   
    <div>
      <label for="restaurantReservation">Voulez-vous réserver une table au restaurant ?</label>
      <select id="restaurantReservation" name="restaurantReservation" class="form-select">
        <option value="yes">Oui</option>
        <option value="no">Non</option>
      </select>
    </div>
  
    
    <button type="button" class="btn btn-primary">Soumettre</button>
  </div>
