<br>
<div class="titre-avec-trait">
  <div class="trait"></div>
  <h3>Hôtels</h3>
  <div class="trait"></div>
</div>


<div class="container mt-4">
  <div class="row">
  <h3 class="card-title">Harmonie Piano Suites</h3>
  <div class="col-md-6">

    <div id="carouselHotel1" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/HotelPiano.jpg" class="card-img-top" alt="Hotel">
        </div>
        <div class="carousel-item">
          <img src="/assets/piano Hotel1.png" class="card-img-top" alt="Chambre 1">
        </div>
        <!--<div class="carousel-item">
          <img src="/assets/Pianohotel2.png" class="card-img-top" alt="Chambre 2">
        </div>-->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselHotel1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselHotel1" data-bs-slide="next" >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
  <div class="col-md-6">
    <p class="description">
      Bienvenue à l'Harmonie Piano Suites, un havre de tranquillité et d'élégance où chaque note compte. 
      Dès que vous franchissez nos portes, vous êtes accueilli par une ambiance envoûtante, inspirée par
       le magnifique univers du piano. Profitez d'une vue imprenable sur le parc depuis notre terrasse tout
        en écoutant des notes de piano flotter dans l'air. C'est l'endroit idéal pour un cocktail après une
         journée riche en aventures.  
    </p><br>
     <div class="text-container">
      <div id="Materiel">
        <h5>Matériel disponible :</h5>
        <ul>
          <li><i class="bi bi-wifi"></i> Wi-Fi gratuit<br></li>
          <li><i class="bi bi-tv"></i> TV à écran plat</li>
          <li><i class="bi bi-car-front"></i> Parking </li>
        </ul>
      </div>
      <div id="Options">
        <h5>Options :</h5>
        <ul>
          <li>Service en chambre</li>
          <li>Piscine</li>
        </ul>
      </div>
      <div id="Chambre">
        <h5>Chambre: </h5>
        <p (click)="redirect()">A partir de <span style="font-size:20px"><b>100€</b></span><br>
          <i class="bi bi-arrow-return-right arrow-lien"></i> 
          <u>Réserver ici</u></p>
     </div>
     </div> 
  </div>
</div>
</div>

<br>

<div class="container mt-4">
  <div class="row">
  <h3 class="card-title">Rock Haven Lodge</h3>
  <div class="col-md-6">

    <div id="carouselHotel2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/HotelRock.jpg" class="card-img-top" alt="Hotel">
        </div>
        <div class="carousel-item">
          <img src="/assets/Chambre rock.jpg" class="card-img-top" alt="Chambre 1">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselHotel2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselHotel2" data-bs-slide="next" >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <div class="col-md-6">
    <p class="description">Découvrez le Rock Haven Lodge Hotel, l'adresse incontournable pour les amateurs de rock.
       Cet hôtel vous plonge dans l'univers vibratoire du rock'n'roll, offrant une expérience séduisante et énergique.
      L'atmosphère de l'hôtel est électrique dès votre arrivée, avec des touches de décor rappelant les grandes 
      époques du rock. Les chambres sont baignées d'une ambiance décontractée, avec des détails subtils qui évoquent 
      la passion de la musique.
      </p><br>
     <div class="text-container">
      <div id="Materiel">
        <h5>Matériel disponible :</h5>
        <ul>
          <li><i class="bi bi-wifi"></i> Wi-Fi gratuit<br></li>
          <li><i class="bi bi-tv"></i> TV à écran plat</li>
          <li><i class="bi bi-car-front"></i> Parking </li>
        </ul>
      </div>
      <div id="Options">
        <h5>Options :</h5>
        <ul>
          <li>Service en chambre</li>
          <li>Piscine</li>
          <li>Salle de concert </li>
        </ul>
      </div>
      <div id="Chambre">
        <h5>Chambre: </h5>
        <p  (click)="redirect()">A partir de <span style="font-size:20px"><b>150€</b></span><br>
          <i class="bi bi-arrow-return-right arrow-lien"></i> 
          <u>Réserver ici</u></p>
     </div>
     </div> 
  </div>

</div>
</div>

<br>
    <!--
  </div>
  <div class="col-md-6">
    <p class="description">Découvrez l'Harmonie Piano Suites, un havre de tranquillité et d'élégance où chaque note compte. 
      Dès que vous franchissez nos portes, vous êtes accueilli par une ambiance envoûtante, inspirée par le
      magnifique univers du piano. Profitez d'une vue imprenable sur le parc depuis notre terrasse tout en 
      écoutant des notes de piano flotter dans l'air. C'est l'endroit idéal pour un cocktail après une journée
      riche en aventures.</p>
     <div class="text-container">
      <div id="Materiel">
        <h5>Matériel disponible :</h5>
        <ul>
          <li><i class="bi bi-wifi"></i> Wi-Fi gratuit<br></li>
          <li><i class="bi bi-tv"></i> TV à écran plat</li>
          <li><i class="bi bi-car-front"></i> Parking </li>
        </ul>
      </div>
      <div id="Options">
        <h5>Options :</h5>
        <ul>
          <li>Service en chambre</li>
          <li>Piscine</li>
        </ul>
      </div>
      <div>
        <h5>Chambre: </h5>
        <p>A partir de <span style="font-size:20px"><b>100€</b></span></p>
     </div>
     </div> 
  </div>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mb-4">
      <img
        src="/assets/piano Hotel1.png"
        class="d-block w-100"
        alt="Image de l'hôtel"
      />
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Harmonie Piano Suites</h1>

          <h5 class="card-subtitle mb-2 text-muted">Matériel disponible :</h5>
          <ul>
            <li>Wi-Fi gratuit</li>
            <li>TV à écran plat</li>
            <li>Climatisation</li>
          </ul>

          <h5 class="card-subtitle mb-2 text-muted">Options :</h5>
          <ul>
            <li>Service en chambre</li>
            <li>Piscine</li>
          </ul>

          <h5 class="card-subtitle mb-2 text-muted">Prix :</h5>
          <p>Chambre Solo : $100 par nuit</p>
          <p>Chambre Double : $150 par nuit</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <img
        src="/assets/piano Hotel1.png"
        class="d-block w-100"
        alt="Image de l'hôtel 2"
      />
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Rock Haven Lodge</h1>

          <h5 class="card-subtitle mb-2 text-muted">Matériel disponible :</h5>
          <ul>
            <li>Wi-Fi gratuit</li>
            <li>TV à écran plat</li>
            <li>Climatisation</li>
          </ul>

          <h5 class="card-subtitle mb-2 text-muted">Options :</h5>
          <ul>
            <li>Service en chambre</li>
            <li>Piscine</li>
          </ul>

          <h5 class="card-subtitle mb-2 text-muted">Prix :</h5>
          <p>Chambre Solo : $120 par nuit</p>
          <p>Chambre Double : $180 par nuit</p>
        </div>
      </div>
    </div>
  </div>
</div>

-->



<!--
<form>
  <div class="container mt-4">
    <div class="mb-3">
      <label for="hotelChoice" class="form-label">Choisissez un hôtel :</label>
      <select id="hotelChoice" name="hotelChoice" class="form-select">
        <option value="hotel1">Hôtel 1</option>
        <option value="hotel2">Hôtel 2</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="roomType" class="form-label"
        >Choisissez le type de chambre :</label
      >
      <select id="roomType" name="roomType" class="form-select">
        <option value="single">Chambre Solo</option>
        <option value="double">Chambre Double</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="restaurantReservation" class="form-label"
        >Voulez-vous réserver une table au restaurant ?</label
      >
      <select
        id="restaurantReservation"
        name="restaurantReservation"
        class="form-select"
      >
        <option value="yes">Oui</option>
        <option value="no">Non</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Soumettre</button>
  </div>
</form>
<div>
  <h2>Récapitulatif de la réservation</h2>
  
  <p>Date  :</p>

  <p>Nombre de billets :</p>

  <p>Hôtel réservé pour X nuits:</p>
  

  <p>Total TTC : €</p>
  <button type="submit" class="btn btn-success">Valider reservation</button>
</div>

-->
