<div class="card-deck">
    <div class="text-center w-100 mb-4"> 
        <h4 class="title">Billetterie</h4>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/famille.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Billet unique </h5>
          <p class="card-text">A partir de 50€/jour* Pour un adulte.</p>
        </div>
      </div>
    <div class="card">
        <img class="card-img-top" src="/assets/famille.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Pack famille </h5>
            <p class="card-text">A partir de 150€/jour* Pour une famille de 4 personnes.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/assets/famille.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Pack famille </h5>
            <p class="card-text">A partir de 150€/jour* Pour une famille de 4 personnes.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/assets/famille.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Pack billet et hôtel</h5>
            <p class="card-text">A partir de 110€/personne. <span></span><span></span><span></span><br></p>
        </div>
    </div>
</div>
