<!--<div class="titre-avec-trait">
        <div class="trait"></div>
        <h3> Actualités </h3>
        <div class="trait"></div>
</div>

<div class="row row-cols-2">
    <div class="col">
            <div class="card h-100">
                    <div class="card-body">
                            <h5 class="card-title">Grande nouveauté au DuckBeat parc!</h5>
                            <p class="card-text">La construction de notre dernière attraction est enfin terminée. "Requiem pour un Canard" sera accessible aux visiteurs ce vendredi 8 janvier 2023 après 3 mois d’une longue attente!!! Cette attraction a été spécialement pensée en l'honneur du célèbre Jordaninou [...]</p>
                    </div>
            </div>
    </div>
    <div class="col">
            <div class="card h-100">
                    <div class="card-body">
                            <h5 class="card-title">"Temps d’attente en temps Réel, Plaisir Maximal : le DuckBeat parc révolutionne Votre Expérience avec une Appli Innovante!"</h5>
                            <p class="card-text">Le DuckBeat parc propulse l'expérience des visiteurs vers de nouveaux sommets avec le lancement d'une fonctionnalité révolutionnaire sur son application dédiée. Désormais, les amateurs de sensations fortes peuvent plonger dans l'excitation sans précédent grâce à une mise à jour qui offre un accès en temps réel aux informations cruciales sur les attractions. L'onglet <span style="font-weight: bold;">"Plan du parc"</span> [...]</p>
                    </div>
            </div>
    </div>
</div>-->

<div class="titre-avec-trait">
        <div class="trait"></div>
        <h3> Actualités </h3>
        <div class="trait"></div>
</div>
<br>
        <div class="col mx-auto" style="width: 900px;">
          <div class="card h-100">
            <div id="carouselHotel1" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/Actualite1.png" class="card-img-top" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/assets/Actualite2.png" class="card-img-top" alt="Image 2">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselHotel1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselHotel1" data-bs-slide="next" >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

<!--<div class="text-center mb-4"> 
        <h3>Actualités</h3>
</div> -->