<div id="actualites">
    <div><h2><br> Actualités </h2></div><br>

   <div>
        <div style="margin-right:10px;">
            <h4 style="text-align: center;">Grande nouveauté au DuckBeat parc! </h4><br>
            <p> La construction de notre dernière attraction est enfin terminée. "Requiem pour un Canard" sera accessible aux visiteurs ce vendredi 8 janvier 2023 après 3 mois d’une longue attente!!! Cette attraction a été spécialement pensée en l'honneur du célèbre Jordaninou, figure emblématique du monde de Java. Cette nouvelle expérience promet de plonger les visiteurs dans un univers sonore inédit et captivant. 
                Avec des effets spéciaux de pointe, "Requiem pour un Canard" s'annonce comme la nouvelle attraction phare du parc, suscitant déjà l'excitation des amateurs de sensations fortes et des mélomanes. Les premières réactions des visiteurs en avant-première indiquent un succès retentissant, avec des éloges pour l'innovation artistique et la magie immersive de l'expérience. Les réservations affluent, et le parc s'attend à accueillir une marée de visiteurs prêts à être transportés dans l'univers musical fantastique créé en l'honneur du Jordaninou.
                (NB : Nous tenons à préciser qu aucun canard ne sera maltraité au cours de l attraction ? )
                </p>
            <img src="" alt="">
        </div>
        <div style="margin-right:10px;">
            <h4 style="text-align: center;">"Temps d’attente en temps Réel, Plaisir Maximal : le DuckBeat parc révolutionne Votre Expérience avec une Appli Innovante!"</h4><br>
            <p>Le DuckBeat parc propulse l'expérience des visiteurs vers de nouveaux sommets avec le lancement d'une fonctionnalité révolutionnaire sur son application dédiée. Désormais, les amateurs de sensations fortes peuvent plonger dans l'excitation sans précédent grâce à une mise à jour qui offre un accès en temps réel aux informations cruciales sur les attractions.
                L'onglet <span style="font-weight: bold;">"Plan du parc"</span> permet aux utilisateurs de visualiser instantanément les durées d'attente actuelles pour chaque attraction, les aidant à planifier leur journée pour maximiser le plaisir. Mais la cerise sur le gâteau est la fonction <span style="font-weight: bold;">"Attraction Express"</span>, révélant l'attraction du moment avec le temps d'attente le plus court, permettant aux visiteurs d'éviter les files d'attente et de plonger directement dans l'action.
                Cette innovation technologique offre une expérience sans pareil, éliminant le stress lié aux files d'attente interminables et permettant aux visiteurs de créer leur propre itinéraire sur mesure. Les premiers utilisateurs témoignent déjà d'une fluidité accrue dans leur journée, passant plus de temps à s'émerveiller devant les spectacles et à profiter des attractions.
                La direction du DuckBeat parc a investi dans cette mise à jour pour garantir que chaque visite soit une expérience mémorable. "Nous voulons que nos visiteurs se concentrent sur l'émerveillement de la musique et des divertissements sans se soucier des attentes. Cette nouvelle fonctionnalité offre une liberté totale pour explorer le parc à votre rythme".
                </p>
            <img src="" alt="">
        </div>
    </div>

    <div>
        <div id="actualite">
           <!-- <a [routerLink]="['actualitesPage']"> -->
                <h4 style="text-align: center;">Grande nouveauté au DuckBeat parc! </h4><br>
                <p> La construction de notre dernière attraction est enfin terminée. "Requiem pour un Canard" sera accessible aux 
                    visiteurs ce vendredi 8 janvier 2023 après 3 mois d’une longue attente!!! Cette attraction a été spécialement pensée en l'honneur du célèbre Jordaninou [...]</p>
                <img src="" alt="">
            <!--</a>-->
        </div>
        <div id="actualite">
            <!--<a [routerLink]="['actualitesPage']">-->
                <h4 style="text-align: center;">"Temps d’attente en temps Réel, Plaisir Maximal : le DuckBeat parc révolutionne Votre Expérience avec une Appli Innovante!"</h4><br>
                <p>Le DuckBeat parc propulse l'expérience des visiteurs vers de nouveaux sommets avec le lancement d'une fonctionnalité révolutionnaire sur son application dédiée. Désormais, les amateurs de sensations fortes peuvent plonger dans l'excitation sans précédent grâce à une mise à jour qui offre un accès en temps réel aux informations cruciales sur les attractions.
                    L'onglet <span style="font-weight: bold;">"Plan du parc"</span> [...]</p>
                <img src="" alt="">
           <!-- </a>-->
        </div>
    </div>




</div>