
<div id="container-image-container">
<div class="image-container">
    <img src="../../assets/PlanDuParc.jpg" alt="Miniature du plan du parc" height="400px">
    <div class="button-attraction1">
        <button (click)="showAttraction1()">Grand Huit</button>
    </div>
    <div class="button-attraction2">
        <button (click)="showAttraction2()">Space simulator</button>
    </div>
    <div class="button-attraction3">
        <button (click)="showAttraction3()">Requiem pour <br> un canard</button>
    </div>
    <div class="button-attraction4">
        <button (click)="showAttraction4()">Small world</button>
    </div>
    <div class="button-attraction5">
        <button (click)="showAttraction5()">Final count <br> down</button>    
    </div>
</div>
</div>
<br>
               

<div class="card" *ngIf="Attraction1" id="Attraction" #scrollElement1>
    <br>
    <div><h3 id="titre">Le grand huit!</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la première carte -->
                        <div id="image"><img src="../../assets/CanardGrandHuit.png" alt="attraction du Grand Huit "></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la deuxième carte -->
                        <div id="titre"><h4>Thème: Rock !!!</h4></div><br>
                        <u><h6>Descriptif:</h6></u>
                        <p>Montagnes Russes du Rock Électrique: Montez à bord de ces montagnes russes palpitantes qui vous emmènent à travers des boucles et des virages synchronisés sur les rythmes effrénés du rock. Les haut-parleurs intégrés diffusent des classiques du rock qui accompagnent chaque montée, descente et virage.</p><br>
                        <u><h6>Informations complementaires:</h6></u>
                        <ul>
                            <li>Intérêt par âge : Adulte </li>
                            <li>Age minimal requis: 10 ans</li>
                            <li>Taille minimale requise: 1m20</li>
                            <li>Facteurs à risques: femmes enceintes, ...</li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction1" controls>
                            <source src="../../assets/highwaytohell_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="Attraction2" id="Attraction" #scrollElement2>
    <br>
    <div><h3 id="titre">Le space simulator, pour décoller vers d'autres cieux!</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la première carte -->
                        <div id="image"><img src="../../assets/CanardSpaceSimulator.png" alt="atttraction du space simulator"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la deuxième carte -->
                        <div id="titre"><h4>Thème: </h4></div><br>
                        <u><h6>Descriptif</h6></u>
                        <p></p><br>
                        <u><h6>Informations complementaires</h6></u>
                        <ul>
                            <li>Intérêt par âge : </li>
                            <li>Age minimal requis: </li>
                            <li>Taille minimale requise:</li>
                            <li>Facteurs à risques: </li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction2" controls>
                            <source src="../../assets/SpaceOddity_cut.mp3" type="audio/mp3">
                        </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="Attraction3" id="Attraction" #scrollElement3>
    <br>
    <div><h3 id="titre">La grande nouveauté! Requiem pour un canard</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la première carte -->
                        <div id="image"><img src="../../assets/CanardPecheCanard.png" alt="attraction pêche aux canards"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la deuxième carte -->
                        <div id="titre"><h4>Thème: </h4></div><br>
                        <u><h6>Descriptif</h6></u>
                        <p></p><br>
                        <u><h6>Informations complementaires</h6></u>
                        <ul>
                            <li>Intérêt par âge : </li>
                            <li>Age minimal requis: </li>
                            <li>Taille minimale requise:</li>
                            <li>Facteurs à risques: </li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction3" controls>
                            <source src="../../assets/canardsound_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="Attraction4" id="Attraction" #scrollElement4>
    <br>
    <div><h3 id="titre">Small world</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la première carte -->
                        <div id="image"><img src="../../assets/CanardSmallWolrd.png" alt="attraction du small world"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la deuxième carte -->
                        <div id="titre"><h4>Thème: </h4></div><br>
                        <u><h6>Descriptif</h6></u>
                        <p></p><br>
                        <u><h6>Informations complementaires</h6></u>
                        <ul>
                            <li>Intérêt par âge : </li>
                            <li>Age minimal requis: </li>
                            <li>Taille minimale requise:</li>
                            <li>Facteurs à risques: </li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction4" controls>
                            <source src="../../assets/itsasmallworld_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="Attraction5" id="Attraction" #scrollElement5>
    <br>
    <div><h3 id="titre">L'attraction phare: le Final count down !!</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la première carte -->
                        <div id="image"><img src="../../assets/CanardQuizzMusical.png" alt="Attraction final count down"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la deuxième carte -->
                        <div id="titre"><h4>Thème: </h4></div><br>
                        <u><h6>Descriptif</h6></u>
                        <p></p><br>
                        <u><h6>Informations complementaires</h6></u>
                        <ul>
                            <li>Intérêt par âge : </li>
                            <li>Age minimal requis: </li>
                            <li>Taille minimale requise:</li>
                            <li>Facteurs à risques: </li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction5" controls>
                            <source src="../../assets/finalcountdown_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<a (click)="showAttraction1()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Grand Huit</i></a> <span> - </span>
<a (click)="showAttraction2()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Space simulator</i></a><span> - </span>
<a (click)="showAttraction3()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Pêche aux canards</i></a><span> - </span>
<a (click)="showAttraction4()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Small world</i></a><span> - </span>
<a (click)="showAttraction5()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Final count down</i></a><span> - </span>

<div id="image"><img src="../../assets/PlanDuParc.jpg" alt="Miniature plan du parc" height="300px"></div>
-->