
<div id="container-image-container">
<div class="image-container">
    <img src="../../assets/PlanDuParc3.png" alt="Miniature du plan du parc" height="500px">
    <div class="button-attraction1">
        <button (click)="showAttraction1()">High way <br> to hell</button>
    </div>
    <div class="button-attraction2">
        <button (click)="showAttraction2()">Space simulator</button>
    </div>
    <div class="button-attraction3">
        <button (click)="showAttraction3()">Requiem pour <br> un canard</button>
    </div>
    <div class="button-attraction4">
        <button (click)="showAttraction4()">Small world</button>
    </div>
    <div class="button-attraction5">
        <button (click)="showAttraction5()">Final count <br> down</button>    
    </div>
</div>
</div>
<br>

<div class="card" *ngIf="Attraction1" id="Attraction_1" #scrollElement1>
    <br>
    <div class="col-6 mx-auto">
        <div><h1 id="titre" style="color:black;">High way to hell, l'incontournable grand huit!</h1></div>
            <br>
                <div class="card" id="shadow_box">
                    <div class="card-body">

                        <div id="titre">
                            <div><h4>Thème: Rock !!!</h4></div>
                            <div><img src="../../assets/CanardRock.png" height=100px alt="Canard rock"></div>
                        </div><br>

                        <u><h6>Descriptif:</h6></u>
                        <p>Montagnes Russes du Rock Électrique: Montez à bord de ces montagnes russes palpitantes qui vous emmènent à travers 
                            des boucles et des virages synchronisés sur les rythmes effrénés du rock. Les haut-parleurs intégrés diffusent des 
                            classiques du rock qui accompagnent chaque montée, descente et virage.</p><br>
                        <u><h6>Informations complementaires:</h6></u>
                        <ul>
                            <li>Intérêt par âge : Adulte </li>
                            <li>Age minimal requis: 10 ans</li>
                            <li>Taille minimale requise: 1m20</li>
                            <li>Facteurs à risques: femmes enceintes, ...</li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction1" controls>
                            <source src="../../assets/highwaytohell_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
     </div>
     <br>
     <br>
</div>

<div class="card" *ngIf="Attraction2" id="Attraction_2" #scrollElement2>
    <br>
    <div class="col-6 mx-auto">
        <div><h1 id="titre" style="color:white;">Le space simulator, pour décoller vers d'autres cieux!</h1></div>
            <br>
                <div class="card" id="shadow_box">
                    <div class="card-body">

                        <div id="titre">
                            <div><h4>Thème: Musique de film</h4></div>
                            <div><img src="../../assets/CanardEspace.jpg" height=100px alt="Canard espace"></div>
                        </div><br>

                        <u><h6>Descriptif:</h6></u>
                            <p>Plongez dans une aventure intergalactique où chaque note de musique devient la bande-son envoûtante de votre propre épopée stellaire.
                                Dès que vous pénétrez dans le dôme futuriste de l'attraction, l'atmosphère s'imprègne d'une lumière cosmique et d'une mélodie céleste. 
                                Prenez place à bord de sièges inspirés d'instruments de musique futuristes, spécialement conçus pour vous transporter vers des horizons sonores inexplorés.
                            </p><br>
                        <u><h6>Informations complementaires:</h6></u>
                        <ul>
                            <li>Intérêt par âge : Adulte et enfant</li>
                            <li>Age minimal requis: 7 ans</li>
                            <li>Taille minimale requise: 0,90m</li>
                            <li>Facteurs à risques: pas de risques à déclarer</li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction2" controls>
                            <source src="../../assets/SpaceOddity_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
     </div>
     <br>
     <br>
</div>

<div class="card" *ngIf="Attraction3" id="Attraction_3" #scrollElement3>
    <br>
    <div class="col-6 mx-auto">
        <div><h1 id="titre" style="color:black;">La grande nouveauté! Requiem pour un canard</h1></div>
            <br>
                <div class="card" id="shadow_box">
                    <div class="card-body">

                        <div id="titre">
                            <div><h4>Thème: Musique classique</h4></div>
                            <div><img src="../../assets/CanardSimple.png" height=100px alt="Canard"></div>
                        </div><br>

                        <u><h6>Descriptif:</h6></u>
                        <p>"Requiem pour un Canard" offre une expérience de pêche tout à fait singulière, où la musique classique et la sérénité de l'eau se conjuguent pour 
                            créer un moment enchanteur. Lorsque la pêche commence, chaque capture déclenche une séquence musicale coordonnée, transformant l'étang en un théâtre aquatique. 
                            Les canards capturés réagissent en émettant de douces mélodies, ajoutant une dimension sonore magique à l'ensemble de l'attraction. Que vous soyez un amateur de 
                            musique classique ou simplement en quête d'une activité apaisante, cette attraction offre une symphonie aquatique qui émerveillera les sens. </p><br>
                        <u><h6>Informations complementaires:</h6></u>
                        <ul>
                            <li>Intérêt par âge : Adulte et enfant</li>
                            <li>Age minimal requis: 5 ans</li>
                            <li>Taille minimale requise: pas de taille minimale requise</li>
                            <li>Facteurs à risques: pas de risques à déclarer</li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction3" controls>
                            <source src="../../assets/chopinballaden_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
     </div>
     <br>
     <br>
</div>

<div class="card" *ngIf="Attraction4" id="Attraction_4" #scrollElement4>
    <br>
    <div class="col-6 mx-auto">
        <div><h1 id="titre" style="color:black;">Small world universe</h1></div>
            <br>
                <div class="card" id="shadow_box">
                    <div class="card-body">

                        <div id="titre">
                            <div><h4>Thème: Musique pour enfant</h4></div>
                            <div><img src="../../assets/CanardPoupee.png" height=100px alt="Canard poupee"></div>
                        </div><br>

                        <u><h6>Descriptif:</h6></u>
                        <p> Prenez le large pour un voyage merveilleux à travers le monde avec cette attraction iconique qui émerveillera
                             les petits...comme les grands ! Montez à bord d'une joyeuse croisière musicale pour toute la famille et entonnez 
                             avec des poupées du monde entier le célèbre hymne à la paix.</p><br>
                        <u><h6>Informations complementaires:</h6></u>
                        <ul>
                            <li>Intérêt par âge : Adulte et enfant</li>
                            <li>Age minimal requis: 5 ans</li>
                            <li>Taille minimale requise: 0.90m</li>
                            <li>Facteurs à risques: pas de risques à déclarer</li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction4" controls>
                            <source src="../../assets/itsasmallworld_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
     </div>
     <br>
     <br>
</div>

<div class="card" *ngIf="Attraction5" id="Attraction_5" #scrollElement5>
    <br>
    <div class="col-6 mx-auto">
        <div><h1 id="titre" style="color:white;">L'attraction phare: le Final count down !!</h1></div>
            <br>
                <div class="card" id="shadow_box">
                    <div class="card-body">

                        <div id="titre">
                            <div><h4>Thème: Eclectique!</h4></div>
                            <div><img src="../../assets/CanardMusique.jpg" height=100px alt="Canard musique"></div>
                        </div><br>

                        <u><h6>Descriptif:</h6></u>
                        <p> Dans le final count down, les visiteurs sont équipés de buzzers interactifs, prêts à être utilisés dès qu'ils 
                            reconnaissent la chanson jouée. Les sièges vibreront au rythme des bonnes réponses, créant une ambiance électrique 
                            dans cette arène de compétition musicale. Préparez-vous à tester vos connaissances musicales dans des styles très 
                            variés allant des grands classiques aux bandes originales de vos animés préférés, dans cette expérience interactive 
                            où chaque note compte! Alors, qui sera le grand gagnant ?!
                        </p><br>
                        <u><h6>Informations complementaires:</h6></u>
                        <ul>
                            <li>Intérêt par âge : Adulte</li>
                            <li>Age minimal requis: 14 ans  </li>
                            <li>Taille minimale requise: pas de taille minimale</li>
                            <li>Facteurs à risques: pas de risques à déclarer</li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction5" controls>
                            <source src="../../assets/finalcountdown_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
     </div>
     <br>
     <br>
</div>


<!--
<a (click)="showAttraction1()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Grand Huit</i></a> <span> - </span>
<a (click)="showAttraction2()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Space simulator</i></a><span> - </span>
<a (click)="showAttraction3()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Pêche aux canards</i></a><span> - </span>
<a (click)="showAttraction4()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Small world</i></a><span> - </span>
<a (click)="showAttraction5()" class="btn btn-success btn-lg"><i class="bi bi-check-lg">Final count down</i></a><span> - </span>

<div id="image"><img src="../../assets/PlanDuParc.jpg" alt="Miniature plan du parc" height="300px"></div>

<div class="card" *ngIf="Attraction1" id="Attraction" #scrollElement1>
    <br>
    <div><h3 id="titre">Le grand huit!</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="image"><img src="../../assets/CanardGrandHuit.png" alt="attraction du Grand Huit "></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="titre"><h4>Thème: Rock !!!</h4></div><br>
                        <u><h6>Descriptif:</h6></u>
                        <p>Montagnes Russes du Rock Électrique: Montez à bord de ces montagnes russes palpitantes qui vous emmènent à travers des boucles et des virages synchronisés sur les rythmes effrénés du rock. Les haut-parleurs intégrés diffusent des classiques du rock qui accompagnent chaque montée, descente et virage.</p><br>
                        <u><h6>Informations complementaires:</h6></u>
                        <ul>
                            <li>Intérêt par âge : Adulte </li>
                            <li>Age minimal requis: 10 ans</li>
                            <li>Taille minimale requise: 1m20</li>
                            <li>Facteurs à risques: femmes enceintes, ...</li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction1" controls>
                            <source src="../../assets/highwaytohell_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="Attraction3" id="Attraction" #scrollElement2>
    <br>
    <div><h3 id="titre">Le space simulator, pour décoller vers d'autres cieux!</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="image"><img src="../../assets/CanardSpaceSimulator.png" alt="atttraction du space simulator"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="titre"><h4>Thème: </h4></div><br>
                        <u><h6>Descriptif</h6></u>
                        <p></p><br>
                        <u><h6>Informations complementaires</h6></u>
                        <ul>
                            <li>Intérêt par âge : </li>
                            <li>Age minimal requis: </li>
                            <li>Taille minimale requise:</li>
                            <li>Facteurs à risques: </li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction2" controls>
                            <source src="../../assets/SpaceOddity_cut.mp3" type="audio/mp3">
                        </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="Attraction3" id="Attraction" #scrollElement3>
    <br>
    <div><h3 id="titre">La grande nouveauté! Requiem pour un canard</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="image"><img src="../../assets/CanardPecheCanard.png" alt="attraction pêche aux canards"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="titre"><h4>Thème: </h4></div><br>
                        <u><h6>Descriptif</h6></u>
                        <p></p><br>
                        <u><h6>Informations complementaires</h6></u>
                        <ul>
                            <li>Intérêt par âge : </li>
                            <li>Age minimal requis: </li>
                            <li>Taille minimale requise:</li>
                            <li>Facteurs à risques: </li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction3" controls>
                            <source src="../../assets/canardsound_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="Attraction4" id="Attraction" #scrollElement4>
    <br>
    <div><h3 id="titre">Small world</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="image"><img src="../../assets/CanardSmallWolrd.png" alt="attraction du small world"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="titre"><h4>Thème: </h4></div><br>
                        <u><h6>Descriptif</h6></u>
                        <p></p><br>
                        <u><h6>Informations complementaires</h6></u>
                        <ul>
                            <li>Intérêt par âge : </li>
                            <li>Age minimal requis: </li>
                            <li>Taille minimale requise:</li>
                            <li>Facteurs à risques: </li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction4" controls>
                            <source src="../../assets/itsasmallworld_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="Attraction5" id="Attraction" #scrollElement5>
    <br>
    <div><h3 id="titre">L'attraction phare: le Final count down !!</h3></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="image"><img src="../../assets/CanardQuizzMusical.png" alt="Attraction final count down"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="titre"><h4>Thème: </h4></div><br>
                        <u><h6>Descriptif</h6></u>
                        <p></p><br>
                        <u><h6>Informations complementaires</h6></u>
                        <ul>
                            <li>Intérêt par âge : </li>
                            <li>Age minimal requis: </li>
                            <li>Taille minimale requise:</li>
                            <li>Facteurs à risques: </li>
                        </ul>

                        <br>
                        <div id="titre">
                        <audio *ngIf="Attraction5" controls>
                            <source src="../../assets/finalcountdown_cut.mp3" type="audio/mp3">
                        </audio></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->