img{
    height: 60%;
}

.titre-avec-trait {
    display: flex;
    align-items: center;
  }

.trait {
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 10px;
}

.image-container {
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
  
.image-container:hover img {
    transform: scale(1.1); 
    cursor: pointer;
}