<a class="nav-link " (click)="redirect()">

<div class="titre-avec-trait">
    <div class="trait"></div>
    <h3> Billetterie</h3>
    <div class="trait"></div>
</div>
<br>

<div class="row row-cols-4">
    <div class="col">
        <div class="card h-100 image-container">
            <img class="card-img-top" src="/assets/famille.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Billet unique </h5>
                <p class="card-text">A partir de 50€/jour* <br>
                    <span style="font-size: smaller;">*Pour un adulte.</span></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 image-container">
            <img class="card-img-top" src="/assets/famille.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Pack billets famille </h5>
                <p class="card-text">A partir de 150€/jour* <br> 
                    <span style="font-size: smaller;">*Pour une famille de 4 personnes.</span></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 image-container">
            <img class="card-img-top" src="/assets/famille.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Pack billet et hotel</h5>
                <p class="card-text">A partir de 110€/personne.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 image-container">
            <img class="card-img-top" src="/assets/famille.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Pack billet, hôtel et restaurant</h5>
                <p class="card-text">A partir de 140€/personne.</p>
            </div>
        </div>
    </div>
</div>
</a>

<!--<div class="text-center mb-4"> 
    <h3>Billetterie</h3>
</div>-->