<p>AJOUT </p>
<form (ngSubmit)="saveNbVisiteurs()" [formGroup]="nbVisForm">
    <div class="card-header text-white bg-primary">
       Ajout d'une réservation
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <!--<label for="id" class="form-label">Identifiant:</label>-->
            <input type="number" class="form-control" id="id_res" name="id_res" hidden formControlName="id_res">
        </div>
        <div class="mb-3">
            <label for="nbVisiteurs" class="form-label">Veuillez renseigner le nombre de visiteurs de la réservation :</label>
            <input type="number" class="form-control" id="nbVisiteurs" name="nbVisiteurs" formControlName="nbVisiteurs">
        </div>
        
    </div>
    <div class="card-footer">
        <button type="submit" [disabled]="nbVisForm.invalid" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i></button>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div>
</form>

<div [formGroup]="visiteursForm2">
    <ng-container formArrayName="visiteurs2">
        <ng-container *ngFor="let visForm2 of visiteurs2.controls; let i=index">
            
        </ng-container>
    </ng-container>
</div>
<!--<form (ngSubmit)="onSubmit()" [formGroup]="visiteursForm">
<div formArrayName="visiteurs">
    <div *ngFor="let vis of visiteursControlsArray; let i=index">
        <!--<div *ngFor="let number of numbers ; index as i">
        <p>Ajout du visiteur numéro {{i+1}}</p>
        <div [formGroupName]="i">
            
            
            <div class="mb-3 mt-3" formArrayName="visiteurs">
                <label for="id" class="form-label" hidden>Identifiant:</label>
                <input type="number" class="form-control" id="id" name="id" hidden formControlName="id">
            </div>
            <div class="mb-3" formArrayName="visiteurs">
                <label for="nom" class="form-label">Nom:</label>
                <input type="text" class="form-control" id="nom" name="nom" formControlName="nom">
            </div>
            <div class="mb-3" formArrayName="visiteurs">
                <label for="prenom" class="form-label">Prénom:</label>
                <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom">
            </div>
            <div class="mb-3" formArrayName="visiteurs">
                <label for="age" class="form-label">Age:</label>
                <input type="number" class="form-control" id="age" name="age" formControlName="age">
            </div>
            <div class="mb-3" formArrayName="visiteurs">
                <label for="taille" class="form-label">Taille:</label>
                <input type="number" class="form-control" id="taille" name="taille" formControlName="taille">
            </div>
        </div>
        <button type="button" (click)="addVisiteurs()">Add</button>
    </div>
    
</div>
</form>
-->
<!--<form (ngSubmit)="save()"  *ngIf="showForm">
    <div class="card-header text-white bg-primary">
        Ajout des visiteurs
    </div>
    <div class="card-body" *ngFor="let number of numbers ; index as indVisiteur"> 
        Ajout du visiteur numéro {{indVisiteur+1}} : 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>-->
            <!--<input type="number" class="form-control" id="id" name="id" disabled [ngModel]="visiteur.id">
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom"[(ngModel)]="visiteur.nom">
        </div>
        <div class="mb-3">
            <label for="prenom" class="form-label">Prénom:</label>
            <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="visiteur.prenom">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age:</label>
            <input type="number" class="form-control" id="age" name="age" [(ngModel)]="visiteur.age">
        </div>
        <div class="mb-3">
            <label for="taille" class="form-label">Taille:</label>
            <input type="number" class="form-control" id="taille" name="taille" >
        </div>
        <div class="mb-3">
            <input type="any" class="form-control" id="reservation" name="reservation" hidden [(ngModel)]="visiteur.reservation">
        </div>
        <a (click)="save()" class="btn btn-success btn-lg mx-2"><i class="bi bi-backspace"></i></a>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div>
    <div class="card-footer">
        <button type="submit" [disabled]="resForm.invalid" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i></button>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div>
    </form>-->
