.card-header {
    background-image: url("../assets/DuckBeatParc.png");

    background-repeat: no-repeat;

    background-position-x: center;

    background-position-y: bottom;

    background-size: 80%;

    height: 250px;
}

 .card-footer .icon-reseau {
    height: 3%;
    width: auto;
    margin-right: 10px;
}