
<!--<div class="position-relative card-header">
</div>-->

<div class="container">
  <nav-bar></nav-bar>
  <div class="card mt-3">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-footer">
    <div class="row row-cols-3">
      <div class="col"><h5>Aides et informations</h5></div>
      <div class="col"><h5>Recevez nos bon plans</h5></div>
      <div class="col"><h5>Réseaux sociaux</h5></div>
      <div class="col">
        <ul>
          <li>Contacts</li>
          <li>Transports</li>
          <li>Horaires</li>
          <li>Règlements intérieur</li>
        </ul>
      </div>
      <div class="col">Email : duck.beat@parc.com</div>
      <div class="col">
        <a href="https://www.facebook.com" target="_blank"><img class="icon-reseau" src="../assets/facebook.png" alt="facebook"></a>
        <a href="https://www.youtube.com" target="_blank"><img class="icon-reseau" src="../assets/youtube.png" alt="youtube"></a>
        <a href="https://www.instagram.com" target="_blank"><img class="icon-reseau" src="../assets/instagram.png" alt="instagram"></a>
        <a href="https://www.tiktok.com" target="_blank"><img class="icon-reseau" src="../assets/tiktok.png" alt="tiktok"></a>
      </div>
    </div>
  </div>
</div>

