<div class="container">
  <nav-bar></nav-bar>

  <div class="card mt-3">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-footer">
    <div class="row">
      <div class="col-4"><h5>Aides et informations</h5></div>
      <div class="col-4"><h5>Recevez nos bon plans</h5></div>
      <div class="col-4"><h5>Réseaux sociaux</h5></div>
      <div class="col-4">
        <ul>
          <li>Contacts</li>
          <li>Transports</li>
          <li>Horaires</li>
          <li>Règlements intérieur</li>
        </ul>
      </div>
      <div class="col-4">Email : duck.beat@parc.com</div>
      <div class="col-4">
        <a href=""><img src="../assets/facebook.png" alt="facebook"></a>
        <a href=""><img src="../assets/youtube.png" alt="youtube"></a>
        <a href=""><img src="../assets/instagram.png" alt="instagram"></a>
        <a href=""><img src="../assets/tiktok.png" alt="tiktok"></a>
      </div>
    </div>
  </div>
</div>

